<h1> <%= @album.title %> </h1>

<section>
  <ul>
    <li>
    <% @album.tracks.each do |track| %>
      <a href="../tracks/<%= track.id %>"><%= track.title %></a>
    </li>
    <% end %>

    <li>
      <a href="../tracks/new">Add a new track!</a>

    </li>
  </ul>

</section>

<section>
  <%= button_to 'Edit Album', edit_track_url(@album), method: 'get' %>

  <%= button_to 'Delete Album', album_url(@album), method: 'delete' %>

  <%= button_to 'Return to Band', band_url(@album), method: 'get' %>
</section>
